/* Resets */
html, 
body,
nav,
p,
ul,
ul li,
.nav > li > a,
.social-btns > li > a, 
form,
textarea {
	padding: 0;
	margin: 0;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
	color: inherit;
	text-decoration: none !important;
	background: none;
	outline: none;
}

button,
button:active, 
input {
	-webkit-appearance: none;
	appearance: none;
}

button,
button:active,
input,
textarea {
	outline: none;
	background: none;
	border: none;
	color: inherit;
}

/* Bootstrap Changes */
.container {
	max-width: 1100px;
}

@media (min-width: 520px) and (max-width: 767px) {
	.container {
		width: 500px;
	}
} 

.nav > .header__nav__item > a:hover {
	background: none;
}
.nav > .header__nav__item > a {
	display: inline;
}

/* Generic Styles & Utility */
 
.js-dis {
	display: none;
}

.text-bold {
	font-family: 'Raleway';
  font-weight: 700;
}

a.global-button,
.global-button,
.heading,
.header__nav {
	font-size: 1.7em;
	font-family: 'Raleway', sans-serif;
}

/* ----- Page ----- */
html, 
body {
	font-size: 100%;
	font-family: 'Muli', sans-serif;
	color: #6c6753;
}
body{
	background-color: #fafafa;
	position: relative;
}

/*** Header ***/

.header {
	padding: 3em 6% 1em;
	position: fixed;
	z-index: 10;
}

@media (min-width: 920px) {
	.header {
		padding-left: 6em;
		padding-right: 6em;
	} 
}
@media (max-width: 768px){
	.header {
		width: 100%;
	}
}

/* Nav */

.header__nav,
.header__social-btns {
	display: inline-block;
	margin-right: -4px;		/* solves inline-block whitespace issue */
	width: 50%;
	vertical-align: baseline;
}

.header__nav {
	line-height: 1.2em;
}

.header__nav__item > a {
	position: relative;
}

.header__nav__item.active > a {
	font-family: 'Raleway', sans-serif;
  	font-weight: 700;
}


.header__nav__item > a,
.header__nav__item > a::before {
	transition: left 450ms ease, color 200ms linear;
}

.header__nav__item > a:hover {
	color:#000;
}

.header__nav__item > a::before, .header__nav__item > a::after {
	overflow: visible;
	font: normal normal normal 30px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.header__nav__item > a::before{
	position: absolute;
	top: 0;
	bottom: 0;
	left: -5em;
}
.header__nav__item > a::after{
	position: fixed;
	left: -370px;
	bottom: 15%;
	font-size: 320px;
	transition: all 600ms;
	opacity: 0;
	z-index: 0;
}
.header__nav__item.active > a::after{
	left: -70px;
	opacity: 0.7;
}
@media (max-width: 1350px) {
	.header__nav__item > a::after{
		font-size: 265px;
	}
}
@media (max-width: 919px) {
	.header__nav__item > a::before, .header__nav__item > a::after {
		display: none;
	}
}

.header__nav__item > a[data-ref='about']::before {
  content: "\f2bd";
}

.header__nav__item > a[data-ref='projects']::before, .header__nav__item > a[data-ref='projects']::after {
  content: "\f0ad";
}
.header__nav__item.active > a[data-ref='projects']::after, .header__nav__item:hover > a[data-ref='projects'] {
	color: #51e6a6;
}

.header__nav__item > a[data-ref='random']::before, .header__nav__item > a[data-ref='random']::after {
  content: "\f135";
}
.header__nav__item.active > a[data-ref='random']::after, .header__nav__item:hover > a[data-ref='random'] {
	color: #eede6a;
}

.header__nav__item > a[data-ref='art']::before, .header__nav__item > a[data-ref='art']::after {
  content: "\f1fc";
}
.header__nav__item.active > a[data-ref='art']::after, .header__nav__item:hover > a[data-ref='art'] {
	color: #e4379a;
}

.header__nav__item > a[data-ref='games']::before, .header__nav__item > a[data-ref='games']::after {
  content: "\f11b";
}
.header__nav__item.active > a[data-ref='games']::after, .header__nav__item:hover > a[data-ref='games'] {
	color: #f97763;
}

.header__nav__item > a[data-ref='contact']::before, .header__nav__item > a[data-ref='contact']::after {
  content: "\f1d8";
}
.header__nav__item.active > a[data-ref='contact']::after, .header__nav__item:hover > a[data-ref='contact'] {
	color: #4d2970;
}


.header__nav__item > a:hover::before,
.header__nav__item.active > a::before {
	left: -1.6em;
}

/* Collapsible Navigation */
.nav-toggle-wrapper {
	display: none;
	background-color: #fff;
}

.nav-toggle-btn {
	display: inline;
	position: relative;
	height: 2em;
	width: 2em;
	cursor: pointer;
	z-index: 10;
}

.nav-toggle-btn > .line {
	display: block;
	position: absolute;
	top: 50%; left: 0; right: 0;
	height: .25em;
	background-color: #6c6753;
	transform: translateY(-50%);
	transform-origin: 50% 50%;
	transition: all 200ms linear;
}

.nav-toggle-btn > .line:first-child {
	transform: translateY(-250%);
}

.nav-toggle-btn > .line:last-child {
	transform: translateY(150%);
}

/* icon animations */
 
.nav-toggle-btn:hover > .line:first-child {
	transform: translateY(-300%);
}
.nav-toggle-btn:hover > .line:last-child {
	transform: translateY(200%);
}

/* change icon appearance on expanded nav */
.nav-toggle-wrapper.expand > .nav-toggle-btn > .line:first-child {
	transform: translateY(-50%) rotate(45deg);
}

.nav-toggle-wrapper.expand > .nav-toggle-btn > .line:nth-child(2) {
	transform: translateY(-50%) rotate(45deg);
}

.nav-toggle-wrapper.expand > .nav-toggle-btn > .line:last-child {
	transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 768px) {

	.header{
		padding: 0;
	}
	.header__nav {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 0; left: 0;
		height: 100vh;
		width: 100%;
		text-align: center;
		line-height: 1.5em;
		background-color: #fff;
		padding-bottom: 2em;
		overflow: hidden;
		transition: opacity 400ms ease-out;
	}
	
	.nav-toggle-wrapper {
		display: inline-block;
		height: 4em;
		width: 4em;
		padding: 1em;
		border-bottom-right-radius: 50%;
		box-shadow: 0px 2px 3px rgba(0,0,0,0.12);
		margin-right: -4px;
	}
	
	.nav-toggle-wrapper.expand + .header__nav {
		visibility: visible;
		opacity: 1;
	}
	
	.header__nav > .nav {
		position: absolute;
		top: calc(50% - 2em); left: 0;
		width: 100%;
		transform: translateY(-50%);
	}
}


/* --- Sections --- */


section{
	padding-top: 4em;
	min-height: 100vh;
	clear: both;
}
.projects{
	margin-top: 2em; 
}
.projects article{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	margin: .5em 0 1em 0;
	border-radius: 3px;
	background-color: #fff;
	float: left;
	position: relative;
}
.projects article:nth-child(odd){
	clear: both;
}

.projects article img{
	max-width: 100%;
}
.projects article .content{
	font-size: 0.8em;
	padding: 1em 1em 2em 1em;
}
.projects article h2{
	margin: 0.2em 0;
	font-size: 2em;
}
.projects article .hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition:all 400ms;
  overflow: hidden;
}

.projects article .hover:after{
  position: absolute;
  top:-10%;
  left:50%;
  margin-top: -40px;
   margin-left: -25px;
  font: normal normal normal 50px/1 FontAwesome;
  content: "\f002";
  color:#fff;
  transition:all 400ms;
}
.projects article .hover.external:after{
  content: "\f08e";
}
.projects article:hover .hover{ cursor:pointer; opacity: 1;}
.projects article:hover .hover:after{ top: 50%;}

@media (min-width: 768px){
	section{
		padding-left: 150px;
	}


	.projects article{
		width: 98.6%;
		margin: .5em 1.5em 1em 0;
	}
}
@media (min-width: 992px){
	section{
		padding-left: 210px;
	}

	.projects article{
		width: 46.6%;
		margin: .5em 1.5em 1em 0;
	}
}

.profile-photo{
	width: 100%;
	max-width: 180px;
	border-radius: 50%;
	border: solid #fff;
	border-width: 6px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 5px 9px 0 rgba(0,0,0,0.22), 0 3px 1px -2px rgba(0,0,0,0.2);
}



/** flip card styles **/
.projects article {
  transition: all 0.2s;
  perspective: 900px;
  position: relative;
  z-index: 3;
}

.projects article .more {
  padding: 2em;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  transform-style: preserve3d;
  transition: all 0.4s;
  opacity: 0;
  transform: rotateY(-180deg);
}

#projects article .hover{ background: rgba(81, 230, 166,0.5); }
#random article .hover{ background: rgba(238, 222, 106,0.5); }
#games article .hover{ background: rgba(249, 119, 99,0.5); }
#art article .hover{ background: rgba(228, 55, 154,0.5); }
#contact article .hover{ background: rgba(77, 41, 112,0.5); }


#projects article .more{ background: rgba(81, 230, 166,0.85); }
#random article .more{ background: rgba(238, 222, 106,0.85); }
#games article .more{ background: rgba(249, 119, 99,0.85); }
#art article .more{ background: rgba(228, 55, 154,0.85); }
#contact article .more{ background: rgba(77, 41, 112,0.85); }

.projects article .more .close{
  font-size: 50px;
}
.projects article .more .links{
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	margin: -25px -2em;
	padding: 0 4em;
	flex-direction: row;
	display: flex;
	justify-content: space-around;
}
.projects article .more .links a{
	font-size: 50px;
	line-height: 50px;
	transition: 400ms all;
	position: relative;
	top: -100px;
	opacity: 0;
	transition: 500ms all;
	transition-delay: 200ms;
}
.projects article .more .links a:nth-child(2){ transition-delay: 260ms; }
.projects article .more .links a:nth-child(3){ transition-delay: 320ms; }
.projects article .more .links a:nth-child(4){ transition-delay: 380ms; }
.projects article .more .links a:nth-child(5){ transition-delay: 440ms; }
.projects article .more .links a:hover{
	color: #000;
}

@media (max-width: 768px){
	.projects article .more .links a{
		font-size: 35px;
		line-height: 35px;
	}
	.projects article .more .links{
		margin: -13px -2em;
		padding: 0 2em;
	}
}
.projects article.flipped .more {
	opacity: 1;
  transform: rotateY(0deg);
}
.projects article.flipped .more .links a{
	top:0;
	opacity: 1;
}
.projects article.flipped .hover{
	opacity: 0;
}

#about { 
	
}
.detail .header{ padding: 0; }
.detail .header .header__nav{
	width:250px;
	background-color: #eee;
	height: 100vh;
	box-shadow: 5px 0px 14px rgba(0,0,0,0.4);
	padding: 20px;
}
.detail .header .header__nav p, .detail .header .header__nav blockquote{
	font-size: 1rem;
	line-height: 1.15rem;
}
.detail blockquote{
	font-family: Arial;
	font-weight: 100;
	background-color: #fdfdfd;
	border-left: 3px solid #adadad;
}
.detail #main{ padding-left: 265px; min-height: 100vh; }
.detail #main iframe{ width: 100%; height: 100%; min-height: 98vh; margin-top:1vh; border:none; outline: none; border-radius: 5px; }
.detail .header__nav__item > a{ visibility: hidden; }
.detail .header__nav__item > a::before{ display: none; }
.detail .header__nav__item > a::after{visibility: visible; }

/* hover color: #51e6a6; (81, 230, 166) */


.mosaicflow__column {
  float: left;
}
.mosaicflow__item{
	padding: 10px;
}
.mosaicflow__item img {
  display: block;
  width: 100%;
  height: auto;
  border:5px solid #fff;
  position: relative;
  box-shadow: 0 4px 14px rgba(0,0,0,0.4);
  transition: 700ms all;
  -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}
.mosaicflow__item img:hover{
	-webkit-transform: scale(1.04);
	box-shadow: 0 11px 24px rgba(0,0,0,0.5);
	
}
.detail .gallery{
	padding: 1em 0;
}

@media (max-width: 768px) {
	.detail #main{ padding-left: 15px; }
	.mosaicflow__item { padding: 4px; }
	.mosaicflow__item img { border-width: 4px; }
	.detail .header .header__nav{ width: 100%; }
	.detail #main.embed-iframe{ padding-left: 0; padding-right: 0; }
	.detail #main iframe{ margin-top:5px; }

}
a.back i{ position: relative; left: 0; transition: 700ms all;}
a.back{ transition: 700ms all; }
a.back:hover{ color:#000; }
a.back:hover i{ left: -5px; }
.loading{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -24px;
	margin-left:-30px;
}