/* Resets */
html, 
body,
nav,
p,
ul,
ul li,
.nav > li > a,
.social-btns > li > a, 
form,
textarea {
	padding: 0;
	margin: 0;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
	color: inherit;
	text-decoration: none !important;
	background: none;
	outline: none;
}

button,
button:active, 
input {
	-webkit-appearance: none;
	appearance: none;
}

button,
button:active,
input,
textarea {
	outline: none;
	background: none;
	border: none;
	color: inherit;
}

/* Bootstrap Changes */
.container {
	max-width: 1100px;
}

@media (min-width: 520px) and (max-width: 767px) {
	.container {
		width: 500px;
	}
} 

.nav > .header__nav__item > a:hover {
	background: none;
}
.nav > .header__nav__item > a {
	display: inline;
}

/* Generic Styles & Utility */
 
.js-dis {
	display: none;
}

.text-bold {
	font-family: 'Raleway';
  font-weight: 700;
}

a.global-button,
.global-button,
.heading,
.header__nav {
	font-size: 1.7em;
	font-family: 'Raleway', sans-serif;
}

/* ----- Page ----- */
html, 
body {
	font-size: 100%;
	font-family: 'Muli', sans-serif;
	color: #6c6753;
}
body{
	background-color: #fafafa;
	position: relative;
}

/*** Header ***/

.header {
	padding: 3em 6% 1em;
	position: fixed;
	width: 100%;
	z-index: 10;
}

@media (min-width: 920px) {
	.header {
		padding-left: 6em;
		padding-right: 6em;
	} 
}

/* Nav */

.header__nav,
.header__social-btns {
	display: inline-block;
	margin-right: -4px;		/* solves inline-block whitespace issue */
	width: 50%;
	vertical-align: baseline;
}

.header__nav {
	line-height: 1.2em;
}

.header__nav__item > a {
	position: relative;
}

.header__nav__item.active > a {
	font-family: 'Raleway', sans-serif;
  font-weight: 700;
}


.header__nav__item > a,
.header__nav__item > a::before {
	transition: left 450ms ease, color 200ms linear;
}

.header__nav__item > a:hover {
	color: #51e6a6;
}

.header__nav__item > a::before {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: visible;
	left: -5em;
	color: inherit;
	font: normal normal normal 30px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 919px) {
	.header__nav__item > a::before {
		display: none;
	}
}

.header__nav__item > a[data-ref='about']::before {
  content: "\f2bd";
}

.header__nav__item > a[data-ref='projects']::before {
  content: "\f0ad";
}

.header__nav__item > a[data-ref='random']::before {
  content: "\f135";
}

.header__nav__item > a[data-ref='art']::before {
  content: "\f1fc";
}
.header__nav__item > a[data-ref='games']::before {
  content: "\f11b";
}

.header__nav__item > a:hover::before,
.header__nav__item.active > a::before {
	left: -1.6em;
}

/* Collapsible Navigation */
.nav-toggle-wrapper {
	display: none;
	background-color: #fff;
}

.nav-toggle-btn {
	display: inline;
	position: relative;
	height: 2em;
	width: 2em;
	cursor: pointer;
	z-index: 10;
}

.nav-toggle-btn > .line {
	display: block;
	position: absolute;
	top: 50%; left: 0; right: 0;
	height: .25em;
	background-color: #6c6753;
	transform: translateY(-50%);
	transform-origin: 50% 50%;
	transition: all 200ms linear;
}

.nav-toggle-btn > .line:first-child {
	transform: translateY(-250%);
}

.nav-toggle-btn > .line:last-child {
	transform: translateY(150%);
}

/* icon animations */
 
.nav-toggle-btn:hover > .line:first-child {
	transform: translateY(-300%);
}
.nav-toggle-btn:hover > .line:last-child {
	transform: translateY(200%);
}

/* change icon appearance on expanded nav */
.nav-toggle-wrapper.expand > .nav-toggle-btn > .line:first-child {
	transform: translateY(-50%) rotate(45deg);
}

.nav-toggle-wrapper.expand > .nav-toggle-btn > .line:nth-child(2) {
	transform: translateY(-50%) rotate(45deg);
}

.nav-toggle-wrapper.expand > .nav-toggle-btn > .line:last-child {
	transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 768px) {

	.header{
		padding: 0;
	}
	.header__nav {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 0; left: 0;
		height: 100vh;
		width: 100%;
		text-align: center;
		line-height: 1.5em;
		background-color: #fff;
		padding-bottom: 2em;
		overflow: hidden;
		transition: opacity 400ms ease-out;
	}
	
	.nav-toggle-wrapper {
		display: inline-block;
		height: 4em;
		width: 4em;
		padding: 1em;
		border-bottom-right-radius: 50%;
		box-shadow: 0px 2px 3px rgba(0,0,0,0.12);
		margin-right: -4px;
	}
	
	.nav-toggle-wrapper.expand + .header__nav {
		visibility: visible;
		opacity: 1;
	}
	
	.header__nav > .nav {
		position: absolute;
		top: calc(50% - 2em); left: 0;
		width: 100%;
		transform: translateY(-50%);
	}
}


/* --- Sections --- */


section{
	padding-top: 4em;
	min-height: 100vh;
	clear: both;
}
.projects{
	margin-top: 2em; 
}
.projects article{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	margin: .5em 0 1em 0;
	border-radius: 3px;
	background-color: #fff;
	float: left;
	position: relative;
}
.projects article:nth-child(odd){
	clear: both;
}

.projects article img{
	max-width: 100%;
}
.projects article .content{
	font-size: 0.8em;
	padding: 1em 1em 2em 1em;
}
.projects article h2{
	margin: 0.2em 0;
	font-size: 2em;
}
.projects article .hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(81, 230, 166,0.5);
  opacity: 0;
  transition:all 400ms;
  overflow: hidden;
}
.projects article .hover:after{
  position: absolute;
  top:-10%;
  left:50%;
  margin-top: -40px;
   margin-left: -25px;
  font: normal normal normal 50px/1 FontAwesome;
  content: "\f002";
  color:#fff;
  transition:all 400ms;
}
.projects article .hover.external:after{
  content: "\f08e";
}
.projects article:hover .hover{ cursor:pointer; opacity: 1;}
.projects article:hover .hover:after{ top: 50%;}

@media (min-width: 768px){
	section{
		padding-left: 150px;
	}


	.projects article{
		width: 98.6%;
		margin: .5em 1.5em 1em 0;
	}
}
@media (min-width: 992px){
	section{
		padding-left: 210px;
	}

	.projects article{
		width: 46.6%;
		margin: .5em 1.5em 1em 0;
	}
}

.profile-photo{
	width: 100%;
	max-width: 180px;
	border-radius: 50%;
	border: solid #fff;
	border-width: 6px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 5px 9px 0 rgba(0,0,0,0.22), 0 3px 1px -2px rgba(0,0,0,0.2);
}



/** flip card styles **/
.projects article {
  transition: all 0.2s;
  perspective: 900px;
  position: relative;
}

.projects article .more {
  padding: 2em;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  transform-style: preserve3d;
  transition: all 0.4s;
  background: rgba(81, 230, 166,0.85);
  opacity: 0;
  transform: rotateY(-180deg);
}

.projects article .more .close{
  font-size: 50px;
}
.projects article .more .links{
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	margin: -25px -2em;
	padding: 0 4em;
	flex-direction: row;
	display: flex;
	justify-content: space-around;
}
.projects article .more .links a{
	font-size: 50px;
	line-height: 50px;
	transition: 400ms all;
	position: relative;
	top: -100px;
	opacity: 0;
	transition: 500ms all;
	transition-delay: 200ms;
}
.projects article .more .links a:nth-child(2){ transition-delay: 260ms; }
.projects article .more .links a:nth-child(3){ transition-delay: 320ms; }
.projects article .more .links a:nth-child(4){ transition-delay: 380ms; }
.projects article .more .links a:nth-child(5){ transition-delay: 440ms; }
.projects article .more .links a:hover{
	color: #000;
}

@media (max-width: 768px){
	.projects article .more .links a{
		font-size: 35px;
		line-height: 35px;
	}
	.projects article .more .links{
		margin: -13px -2em;
		padding: 0 2em;
	}
}
.projects article.flipped .more {
	opacity: 1;
  transform: rotateY(0deg);
}
.projects article.flipped .more .links a{
	top:0;
	opacity: 1;
}
.projects article.flipped .hover{
	opacity: 0;
}

#about { 
	
}

/* hover color: #51e6a6; (81, 230, 166) */